<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nodlee.theogony">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.WelcomeToSummonerRift">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ChampionListActivity"
            android:launchMode="singleTask"
            android:label=""/>

        <activity android:name=".ui.activity.ChampionActivity"/>

        <activity android:name=".ui.activity.SkinActivity"/>

        <activity
            android:name=".ui.activity.FavoritesActivity"
            android:label="@string/collections_title" />

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@style/AppTheme.Settings" />

        <activity
            android:name=".ui.activity.AboutAppActivity"
            android:label="@string/about_app_title"/>

        <activity
            android:name=".ui.activity.SearchActivity"
            android:label="@string/search_title"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="app_key"
            android:value="e0af5cdf-caab-44c2-a692-dea1d712f8ab"/>

        <service android:name=".service.FetchDragonDataService"
                 android:exported="false"/>

    </application>

</manifest>
